@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
.About {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, tomato 50%,white 50%,white 100%);
}

.about-h1 {
    font-size: 80px;
    /* font-family: arial; */
    text-transform: uppercase;
    font-weight: 900;
}