.About {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92%;
    height: 90%;
    /* background: linear-gradient(to right,tomato 50%,blanchedalmond 50%, blanchedalmond 100%); */
    /* background: rgb(198, 58, 42); */
    /* background-color: tomato; */
    background: rgb(255, 149, 165);
}

.about-container {
    text-align: left;
    margin: 150px 10%;
}

#about-h1 {
    font-size: 5em;
    font-weight: 800;
    /* border: 1px solid blue; */
}

#hand-icon {
    width: 60px;
    transform: scaleX(-1);
    vertical-align: middle;
}

#about-desc-h4 {
    font-size: 26px;
    font-weight: 300;
    /* border: 1px solid red; */
}