.About {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92%;
    height: 90%;
    /* background: linear-gradient(to right,tomato 50%,blanchedalmond 50%, blanchedalmond 100%); */
    /* background: rgb(198, 58, 42); */
    /* background-color: tomato; */
    background: rgb(255, 149, 165);
}

#scroll {
    font-weight: 300;
    font-size: 18px
}