.connect-container {
    padding-top: 100px;
    background-color: rgb(255, 235, 125);
    width: 103.5%;
    height: 400px;
    font-size: 33px;
    letter-spacing: -3px;
    color:  rgb(18, 16, 23);
}

#email {
    color: rgb(18, 16, 23);
    text-decoration: none;
    letter-spacing: -1px;
    font-weight: 300;
    border-bottom: .5px solid rgba(18, 16, 23, .4);
    padding-bottom: 2px;
    transition: 1s ease-in-out all;

}

#email:hover {
    background: linear-gradient(transparent 55%, rgba(255, 255, 255, 0.6) 45%);
    transition: 1s ease-in-out all;
    border: none;
}

.social-icons {
    text-align: left;
    margin-top: 145px;
    margin-left: 15px;
}

#github-icon, #linkedin-icon {
    vertical-align: middle;
    /* border: 3px solid red; */ 
}

#github-icon {
    width: 23px;
}

#linkedin-icon {
    width: 21px;
    margin-left: 15px;
}

#up-arrow {
    width: 40px;
    float: right;
    margin-right: 5%;
    scroll-behavior: smooth;
    margin-top: -60px;
}

#up-arrow:hover {
    transition: 1s ease;
    transform: scale(1.05);
    cursor: pointer;
}

/* iphone 6/7/8 plus */
@media (max-width: 414px) {
    #github-icon {
        width: 33px;
    }
    
    #linkedin-icon {
        width: 34px;
        margin-left: 15px;
    }
}

/* iphone 6/7/8 */
@media (max-width: 375px) {

    #connect-h1 {
        font-size: 55px;
    }

    #email {
        font-size: 30px;
    }

    #github-icon {
        width: 33px;
    }
    
    #linkedin-icon {
        width: 34px;
    }

    .social-icons {
        margin-top: 155px;
        margin-left: 30px;
    }
}