/* 
Portfolio Colors: 
orange: rgb(255,159,66);
green: rgba(186,233,148,0.8);
orangered: rgb(250, 88, 39);
white
black


*/


@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@font-face {
    font-family: 'zoika';
    src: url('../Fonts/Zoika.ttf') format('truetype');
  }

  @font-face {
    font-family: 'bigilla-bold';
    src: url('../Fonts/Bigilla-Bold.otf') format('opentype');
  }

.Home {
    margin: 0;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 58%;
    background: rgb(255,159,66);
    background: radial-gradient(circle, rgba(255,159,66,1) 23%, rgba(186,233,148,0.8) 100%);
}

pre {
   font-size: 16px;
   font-family: arial;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 100;
    /* letter-spacing: -.5px; */
}


.slogan {
    font-family: 'zoika';
    font-size: 64px;
    width: 94%;
    margin: 0;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color:rgba(224, 250, 80, 0.5); */
    color: rgb(250, 88, 39);
}

#scroll-p {
    writing-mode: vertical-lr;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    color: white;
    margin: 0;
    position: absolute;
    bottom: 10%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#down-arrow {
    fill: white;
    margin: 0;
    position: absolute;
    width: 25px;
    bottom: 6%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.home-eb, .home-b {
    position: absolute;
    top: 35px;
    left: 4%;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: .6px;
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-family:arial;
    font-size: 2.3em;
    /* color: rgb(255,159,66); */
    font-family: 'bigilla-bold';
}

.home-b {
    top: 64px;
    letter-spacing: 3.8px;
    /* color: rgb(224, 250, 80); */
}


.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}

    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
  
