.Portfolio {
    margin-top: 8%;
}


.proj-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 100px;
    margin-top: 120px;
}


.img-wrapper {
    /* border: 1px solid cyan; */
    padding-bottom: 100px;
}

#proj-img {
    width: 68%;
}

.img-wrapper:hover #proj-img {
    transition: 1s ease;
    transform: scale(1.05);
}

#proj-title {
    margin-left: 80px;
    font-size: 21px;
    /* border: 1px solid rgb(182, 255, 182); */
    font-weight: 800;
    text-align: left;
    margin-top: 20px;
}

#proj-description {
    text-align: left;
    /* border: 1px solid rgb(255, 179, 179); */
    margin-left: 80px;
    color: gray;
    font-weight: 400;
    font-size: 15px;
    margin-top: -20px;
    opacity: 0;
    transition: .5s ease;
}

.img-wrapper:hover #proj-description {
    opacity: 1;
}

.page-title {
    margin-left: 14%;
    margin-top: 120px;
    /* margin-bottom:70px; */
    text-align: left;
    font-weight: 400;
    font-size: 38px;

}

#proj-git {
    width: 22px;
    vertical-align:top;
    /* margin-left: 4px; */
    margin-top: 8px;
    opacity: .5;
}

#proj-arrow {
width: 28px;
vertical-align:middle;
}