.proj-wrapper {
    border: 1px solid red;
    margin-top: 100px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    /* text-align: left; */
}


.img-wrapper {
    border: 1px solid cyan;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

#proj-img {
    width: 85%;
    /* box-shadow: -25px -20px 40px -20px gray;
    margin-right: 400px; */
}

#proj-title {
    margin-left: 40px;
    font-size: 23px;
    border: 1px solid green;
    font-weight: 700;
    text-align: left;
}

#proj-description {
    text-align: left;
    border: 1px solid red;
    margin-left: 40px;
    color: gray;
    font-weight: 500;
    font-size: 16px;
}