
.Portfolio {
    margin: 0;
    width: 97%;
    position: absolute;
    top: 4%;
}

.page-title {
    margin-left: 14%;
    margin-top: 120px;
    text-align: left;
    font-weight: 400;
    font-size: 38px;
}

.proj-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 100px;
    margin-top: 120px;
    transition: .8s ease;

}

.img-wrapper {
    padding-bottom: 100px;
    transition: .8s ease;

}

#proj-img {
    width: 68%;
}

#proj-img1 {
    width: 63%;
}

.img-wrapper:hover #proj-img1 {
    transition: 1s ease;
    transform: scale(1.05); 
}

.img-wrapper:hover #proj-img {
    transition: 1s ease;
    transform: scale(1.05);
}

#proj-title {
    margin-left: 80px;
    font-size: 21px;
    font-weight: 800;
    text-align: left;
    margin-top: 20px;
    transition: .8s ease;

}

#proj-description {
    text-align: left;
    margin-left: 80px;
    color: gray;
    font-weight: 400;
    font-size: 15px;
    margin-top: -20px;
    opacity: 0;
    transition: .5s ease;
    cursor: pointer;
    transition: .8s ease;
    width: 70%;

}

.img-wrapper:hover #proj-description {
    opacity: 1;
}

#proj-git {
    width: 22px;
    vertical-align:top;
    margin-top: 8px;
    opacity: .5;
}

#proj-arrow, #proj-up-arrow {
width: 28px;
vertical-align:middle;
cursor: pointer;
transition: .8s ease;
}

#proj-up-arrow {
    transform: rotate(180deg);
    transition: .8s ease;
}

#proj-details {
    transition: .8s ease;
    width: 92%;

}

#proj-github-repo {
    color: gray;
    transition: .8s ease;

}

#proj-github-repo:hover {
    color: rgb(70, 70, 70);
}


@media (max-width: 800px) {
    
    .proj-wrapper {
        grid-template-columns: 1fr;
        grid-row-gap: 0;
        width: 70%;
        margin-left: 15%;

    
    }

    .page-title {
        margin-left: 14%;
        margin-top: 170px;
        text-align: left;
        font-weight: 400;
        font-size: 38px;
    }
}

/* iphone 6/7/8 plus */
@media (max-width: 414px) {
    .proj-wrapper {
        width: 95%;
        margin-top: 80px;
        margin-left: 5%;
    }

    .page-title {
        margin-top: 110px;
    }

    #proj-title {
        margin-left: 60px;
        width: 70%;
    }

    #proj-description {
        margin-left: 60px;
        font-size: 18px;
        width: 70%;
    }
}